/*
 * General
 */

    .mt-35 {
        margin-top: 35px;
    }
    .mt-75 {
        margin-top: 75px;
    }

/*
 * Services
 */

    #services > .container > .row > div > div.service-box {
        padding: 30px;
    }

/*
 * Bibliografía
 */

    #bibliography ul {
        padding-left: 0 !important;
    }
    #bibliography ul li {
        list-style-type: none;
    }